@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityUser>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<script type="text/javascript">
    $(document).ready(function () {
        var table = $('#lijst').DataTable({ "paging": true, "pageLength": 10 });
    });
</script>
<a asp-action="roles">Rollen</a>
<table id="lijst" class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>User</th>
            <th>E-mail</th>
            <th>E-mail confirmed</th>
            <th>Phonenumber</th>
            <th>Phonenumber confirmed</th>
            <th>Lockout enabled</th>
            <th>Lockout end</th>
            <th>Twofactor enabled</th>
            <th>Access failed count</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td><a asp-action="Account" asp-route-id="@user.Id">@user.Id</a></td>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>@user.EmailConfirmed</td>
                <td>@user.PhoneNumber</td>
                <td>@user.PhoneNumberConfirmed</td>
                <td>@user.LockoutEnabled</td>
                <td>@user.LockoutEnd</td>
                <td>@user.TwoFactorEnabled</td>
                <td>@user.AccessFailedCount</td>
            </tr>
        }
    </tbody>
</table>
